<div id="letter" class="screen">
<div class="screen-top-nav">
<button class="nav-back" onclick="goToScreen('story')">&#8592; Back</button>
<button class="nav-next" onclick="goToScreen('austria')">Austria &#8594;</button>
</div>
<div class="letter-scroll">
<div class="env-wrap">
<div class="env-body">
<div class="ltr-from">A letter for you, Kannumon...</div>
<div class="ltr-greet">My dearest Babadiii,</div>
<div class="ltr-body">
<div class="hs">&#128140;</div>
<p id="lp1"></p><p id="lp2"></p><p id="lp3"></p>
<div class="ltr-de"><strong>Alles Gute zum Geburtstag, meine Liebe.</strong><br/>Ich vermisse dich schon. Du bist mein Stern.<div class="de-tr">(Happy Birthday, my love. I miss you already. You are my star.)</div></div>
<p id="lp4"></p><div class="ltr-ml" id="lml"></div><p id="lp5"></p>
<div class="ltr-sign">Forever your Kunja &mdash; Akshai &mdash; Kunja<br/><span style="font-size:15px;color:#a06030">(your Kunja &#128037;)</span></div>
</div>
</div>
</div>
</div>
</div>